<div class="container">
  <div class="jumbotron text-center">
    <h1>Found Contacts</h1>
      <% if @contacts.empty? %>
        <h2>No records found</h2>
      <% else %>
        <% @contacts.each do |contact| %>
          <h2>First Name:
          <%= contact.first_name %></h2>
          

          <h2>Last Name:
          <%= contact.last_name %></h2>

          <h2>Email:<a href='mailto:<%= contact.email %>'>
          <%= contact.email %></a></h2>

          <h2>Notes:
          <%= contact.notes %></h2><br>

          <div class="button-container">
            <button type="button" class="btn btn-warning btn-lg pull-left"><a href="/contacts/<%= contact.id%>/edit">Edit</a></button>

            <form action="/contacts/<%= contact.id %>" method="post" class="pull-left">
              <input type="hidden" name="_method" value="delete">
              <button  class="btn btn-danger btn-lg" type="submit" name="Delete Contact" value="Delete">Delete</button>
            </form>    

            <button type="button" class="btn btn-primary btn-lg"><a href="/">Back to Main Menu</a></button>
          </div>
        <% end %>
      <% end %>
  </div>
</div>